<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.Quiz.lesson04.dao.RealTorDAO">
   <insert id="insertRealTor" parameterType="com.Quiz.lesson04.model.RealTor"
   useGeneratedKeys="true" keyProperty="id">
 	INSERT INTO `realtor`
 	(
	 	`office`
		,`phoneNumber`
		,`address`
		,`grade`
		,`createdAt`
		,`updatedAt`
 	)
 	VALUES
 	(
 		#{office}
 		, #{phoneNumber}
 		, #{address}
 		, #{grade}
 		, NOW()
 		, NOW()
 	)
 	</insert>
 	
 	<select id="selectRealTorById" parameterType="int" resultType="com.Quiz.lesson04.model.RealTor">
		SELECT 
			`id`
			,`office`
			,`phoneNumber`
			,`address`
			,`grade`
			,`createdAt`
			,`updatedAt`
		FROM
			`realtor`
		WHERE
			`id` = #{id}		
 	</select>
 	
 </mapper>